<NavLink href="/EntradasHuacales" class="nav-link">
    <span class="oi oi-plus"></span> Entrada Huacales
</NavLink>


<style>
    .sidebar-link {
        color: #e8e8e8;
        border-radius: 10px;
        padding: 12px 12px;
        margin: 6px 0;
        font-weight: 500;
    }

        .sidebar-link:hover {
            color: #fff;
            background: rgba(255,255,255,.08);
        }

        .sidebar-link.active {
            background: rgba(255,255,255,.22);
            color: #fff;
        }
</style>
