<nav class="nav flex-column mt-2">
    <NavLink class="nav-link" href="/entradas-huacales" Match="NavLinkMatch.Prefix">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Entradas Huacales
    </NavLink>
</nav>


<style>
    .sidebar-link {
        color: #e8e8e8;
        border-radius: 10px;
        padding: 12px 12px;
        margin: 6px 0;
        font-weight: 500;
    }

        .sidebar-link:hover {
            color: #fff;
            background: rgba(255,255,255,.08);
        }

        .sidebar-link.active {
            background: rgba(255,255,255,.22);
            color: #fff;
        }
</style>
