@using Microsoft.AspNetCore.Components.Routing

<div class="sidebar">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Parcial 1
        </div>
    </div>

    <nav class="sidebar-nav">

        <NavLink href="/entradas-huacales"
                 class="sidebar-link"
                 ActiveClass="active">

            <span class="bi bi-box-seam"></span>
            Entradas Huacales

        </NavLink>


        <NavLink href="/tipos-huacales"
                 class="sidebar-link"
                 ActiveClass="active">

            <span class="bi bi-tags"></span>
            Tipos Huacales

        </NavLink>

    </nav>

</div>