@page "/"

<PageTitle>Home</PageTitle>

<h1>Gianlouis Antonio</h1>
<b>2022-0221</b>


Welcome to your new app.

<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="display-5 mb-2">Gianlouis Antonio</h1>
        <p class="text-muted mb-0">2022-0221</p>
    </div>
</div>
